{% assign active=' class="active"' %}
<!-- site nav -->
<nav class="mobile-menu push-menu-right">
    <ul>
        <li class="menu-trigger"><a href="/">Close</a></li>
        <li><a href="#what-we-own">What we own</a></li>
        <li><a href="#compare">Compare</a></li>
        <li><a href="#audit">Docs audit</a></li>
    </ul>
</nav>
<nav class="site-nav">
    <div class="site-container">
        <a class="logo brand" href="/">Midsomar</a>
        <ul>
            <li class="menu-trigger"><a href="/"><img class="menu-trigger-icon" src="/assets/images/icons/icon-menu-white.png"></a></li>
            <li><a href="#what-we-own">What we own</a></li>
            <li><a href="#compare">Compare</a></li>
            <li><a href="#audit">Docs audit</a></li>
        </ul>
    </div>
</nav>